<nav class="nav">
    <div class="nav-wrapper carreras">
        <div class="principal">
            <a href="http://localhost:4200/home/inicio" (click)="seleccionarCarrera($event, 0)">Todas las carreras</a>
        </div>
      <div class="carreras-list" *ngFor="let carrera of carreras">
        <a href="http://localhost:4200/home/inicio" (click)="seleccionarCarrera($event, carrera.carrera_id)">
          {{ carrera.carrera_nombre }}
        </a>
      </div>
    </div>
  </nav> 
<div class="row">
    <div class="col s2 card loginContainer">
        <h3>Filtros de búsqueda</h3>
        <h4>Estado del producto</h4>
        <form >
            <p>
              <label>
                <input type="checkbox"[(ngModel)]="estado" (click)="onSubmit(1)"  id="redCheckbox"/>
                <span>Nuevo</span>
              </label>
            </p>
            <p>
                <label>
                  <input type="checkbox"  [(ngModel)]="estado" (click)="onSubmit(2)" id="redCheckbox1"/>
                  <span>Usado</span>
                </label>
              </p>
          </form>
        <!-- Filtro de Rango de Precios -->
        <h4 for="price">Precio a partir de:</h4>
        <input type="number" id="quantity"  step="1">
        <!-- <input type="range" id="price" min="0" max="1000" step="50">
        <span id="price-value">0</span> Mostrar el valor del rango -->

        <h4>Numero de unidades</h4>
        <input type="number" id="quantity1" min="0" max="1000" step="1">

        <button class="opcion" (click)="enviarFiltro()">Buscar</button>
        <button class="opcion" (click)="limpiarFiltros()">Limpiar filtros</button>
    </div>
    
    <div class="col s10">
        <div class="col s12 m4" *ngFor="let producto of productos">
            <div class="card-item">
                <div class="card-image">
                    <a href="http://localhost:4200/home/inicio"><img  class="card-img"  src="{{liga}}/{{producto.producto_id}}.jpg" alt="Imagen del producto"/></a>
                </div>
                <a href="http://localhost:4200/home/inicio">
                    <h2 class="loginTitulo">
                        {{producto.producto_descripcion}}
                    </h2>
                </a>
                <h2>
                    ${{producto.producto_precio}}
                </h2>
                <h2>
                    Disponibles: {{producto.producto_existencia}}
                </h2>
                <h2>
                    Vendedor: <a class="a2" href="http://localhost:4200/home/inicio">{{producto.usuario_nombre}}</a>
                </h2>
                <button class="button" (click)="comprar(producto.producto_id)" >Comprar</button>
            </div>
        </div>
    </div>
</div>
<div class="divOlvide">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

<div *ngIf="mostrarModal" class="modal-overlay">
    <div class="modal-content">
        <h3 class="modal-title">Mensaje</h3>
        <p class="modal-text">No hay productos disponibles para esta categoría.</p>
        <button (click)="cerrarModal()" class="modal-close-btn">Cerrar</button>
    </div>
</div>


